<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1>Home Automation</h1>

      <h2>
        This is the home page for the
        Home Automation App
      </h2>
    </div>
  </div>
</main>
