<% provide(:title, [@user.fname, @user.lname].join(" ")) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= [@user.fname, @user.lname].join(" ") %>
        <%= @user.email %><br>
        Role: <%= @user.role %>
      </h1>
    </section>
  </aside>
</div>
